---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Acerca de mí";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h1>á é í ó ú ñ</h1>

  <p>
    ¡Hola! Soy un desarrollador web apasionado...
  </p>
</BaseLayout>

  