---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Página de inicio de astro";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo de la página de inicio</h2>
</BaseLayout>